:local {
  .wrapper {
    display: inline-block;
  }

  .wrapper + .wrapper {
    margin-left: 4px;
  }

  .tag {
    outline: none;
    border: 0;
    background: var(--highlight-color);
    color: var(--highlight-background);
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;

    &::before {
      content: "#";
    }
  }

  .tag + .tag {
  }
}
