@import url("https://fonts.googleapis.com/css?family=Bevan");

:root {
  --header-font: Bevan, Futura, sans-serif;
  --body-font: Georgia, serif;
  --header-color: teal;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 20px;
  font-family: var(--body-font);
}

:local {
  .siteHeader a {
    color: var(--header-color);
    text-decoration: none;
    font-family: var(--header-font);
  }

  .container {
    max-width: 35rem;
    margin: 0 auto;
  }
}
