* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

$anyhowly: #8dc891;

:local {
  .page {
    background: var(--background);
    color: var(--color);
    transition: background 0.2s;
    min-height: 100vh;
  }

  .container {
    max-width: 35rem;
    margin: 0 auto;
    padding: 1rem 0;
    transition: all 0.2s ease;
  }

  .header {
    color: var(--nav-color);
    display: flex;
    height: 6rem;
    max-width: 35rem;
    margin: 0 auto;
    align-items: center;
  }

  .toggle {
    color: var(--nav-color);
  }

  .rocks {
    --header-font-family: "Bevan";
    --background: #efefef;
    --color: #222;
    --nav-background: #{lighten($anyhowly, 20%)};
    --nav-color: #{darken($anyhowly, 10%)};
    --highlight-color: #{darken($anyhowly, 10%)};
    --highlight-background: white;
    --font-weight: 400;
  }

  .rox {
    --header-font-family: "Gorditas";
    --background: #222;
    --highlight-color: #{$anyhowly};
    --nav-background: black;
    --nav-color: white;
    --color: #eee;
    --highlight-background: black;
    --font-weight: 300;

    p {
      letter-spacing: 0.06px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--header-font-family);
      color: var(--highlight-color);
    }
  }

  @media only screen and (max-width: 768px) {
    .page {
      padding: 1rem;
    }

    .header {
      white-space: nowrap;
    }

    .toggle {
      display: none;
    }

    .container {
      padding: 0;
    }
  }
}
