* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 20px;
}

:local {
  .container {
    max-width: 52rem;
    margin: 0 auto;
  }

  .navbar {
    display: flex;
    height: 2rem;
  }

  .rox {
    --header-font-family: "Gorditas";
  }

  .rocks {
    --header-font-family: "Patua One";
    --body-font-family: "Open Sans";
    --body-font-size: 18px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      letter-spacing: 2px;
    }
  }
}
